body {
    box-sizing: border-box;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

form {
    margin: 50px 0px;
}

#timer-clock {
    margin: 50px 0px;
}

#exer-form {

}

.hidden {
    display: none;
}